<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ABC BANK ATM</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstarp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="center">
    <h4>Deposited successfully!</h4>
    <input type="button" value="Main Menu" onclick="history.go(-2)" />
    </div>
    <script src="~/lib/jquery.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>

