@{
    var Bal = ViewData["Balance"];
    Layout = null;
}
<html>
<head>
    <title>ABC BANK ATM</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstarp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="center">
        <h1 id="h1">Your Account Balance is: @Bal</h1>
        <input type="button" id="Mainbtn" value="Main Menu" onclick="history.back()" />
    </div>
</body>
</html>
