@{
    Layout = null;
    var err = ViewData["Error"];
}

<html>
<head>
    <title>ABC BANK ATM</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstarp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form method="POST" action ="/Home/Main">
        <div id="Loginpage">
            <h3>WELCOME TO ABC BANK ATM</h3>
            <p id="Error">@err</p>
            <label id="label">User ID: </label><input id="userid" name="UserID" required type='number' autofocus min="1000 " max="9999" maxlength="4"><br><br>
            <label id="label">PIN: </label><input id="pin" name="PIN" type='password' required maxlength="4"><br><br>
            <button id="loginbtn">LOGIN</button>
        </div>
    </form>
</body>
</html>
